<div class="table-responsive look-up-drop-down-width">
    <table class="table table-condensed">
        <tr>
            <td class="look-up-drop-down-td">
                <label class="default-label">{{title}}</label>
            </td>
        </tr>
        <tr>
            <td class="look-up-drop-down-td">
                <div class="input-group">
                    <select class="form-control look-up-drop-down"
                            data-ng-options="(item.acronym !== undefined ? item.acronym : item.name) for item in items | orderBy:'displayOrder'"
                            data-ng-model="selectedItem"
                            data-ng-disabled="disableSelect"
                            data-ng-change="onChange(item)"
                            data-ng-init="selectedItem = items[0]"
                            ng-disabled="isDisabled"></select>
                    <span class="input-group-btn" style="padding-left: 0; padding-right: 0;">
                        <button class="btn btn-info blue-tooltip"
                                data-ng-disabled="disableAddButton"
                                data-ng-click="addSelectedItem()"
                                ng-disabled="isDisabled">
                            <span class="fa fa-plus"></span>
                        </button>
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:0 !important;">
                <table class="table table-condensed ">
                    <tr ng-repeat="item in selectedItems | orderBy: 'displayOrder'">
                        <td>
                            <span class="selected-item-label">{{ (item.acronym !== undefined ? item.acronym : item.name) }} </span>
                        </td>
                        <td>
                            <span class="selected-item-label">
                                Actions {{item.actions.length}}
                                <span class="fa fa-chevron-down" style="cursor: pointer;" ng-click="isCollapsed = !isCollapsed"></span>
                            </span>
                            <div uib-collapse="isCollapsed">
                                <div class="panel-collapse">
                                    <table class="table table-condensed ">
                                        <tr>
                                            <td class="look-up-drop-down-td">
                                                <div class="input-group">
                                                    <select class="form-control look-up-drop-down"
                                                            data-ng-options="(action.acronym !== undefined ? action.acronym : action.name) for action in actions | orderBy:'displayOrder'"
                                                            data-ng-model="selectedItem"
                                                            data-ng-disabled="disableSelect"
                                                            data-ng-change="onChange(action)"
                                                            data-ng-init="selectedItem = items[0]"
                                                            ng-disabled="isDisabled"></select>
                                                    <span class="input-group-btn" style="padding-left: 0; padding-right: 0;">
                                                        <button class="btn btn-info blue-tooltip"
                                                                data-ng-disabled="disableAddButton"
                                                                data-ng-click="addSelectedItem()"
                                                                ng-disabled="isDisabled">
                                                            <span class=" fa fa-plus"></span>
                                                        </button>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="action in item.actions | orderBy: 'displayOrder'">
                                            <td>
                                                <span class="selected-item-label">{{ (action.acronym !== undefined ? action.acronym : action.name) }} </span>
                                            </td>
                                            <td style="padding: 0 !important;">
                                                <button class="btn btn-info pull-right" data-ng-click="removeSelectedItem(action)"
                                                        ng-disabled="isDisabled">
                                                    <span class="fa fa-minus"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                        <td style="padding: 0 !important;">
                            <button class="btn btn-info pull-right" data-ng-click="removeSelectedItem(item)"
                                    ng-disabled="isDisabled">
                                <span class="fa fa-minus"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

